# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import gmaps
import pandas as pd
import requests 
import numpy as np

# Import API key
from google_api_keys import g_key

In [2]:
# gmaps api key config
gmaps.configure(api_key=g_key)

In [3]:
# import extensions 
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [4]:
# gmaps test
gmaps_figure = gmaps.figure()
gmaps_figure

Figure(layout=FigureLayout(height='420px'))

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
# load the csv exported in Part I to a DataFrame
output_data_file = "city_weather_data.csv"

city_weather_data = pd.read_csv(output_data_file)
city_weather_data = city_weather_data.drop(columns=["Unnamed: 0"])

final_weather_df = city_weather_data.rename(columns={"wind speed": "wind_speed"})
final_weather_df

,city,country,city id,lat,lon,temp,temp_max,humidity,cloudiness,wind_speed
0,lebu,CL,3883457,-37.62,-73.65,12.64,12.64,75,54,0.23
1,teya,RU,1489656,60.38,92.63,10.76,10.76,74,81,2.38
2,castro,BR,3466704,-24.79,-50.01,15.35,15.35,70,11,2.12
3,richards bay,US,5043181,46.84,-95.91,21.00,21.00,68,1,4.60
4,amla,IN,1278775,21.93,78.12,23.51,23.51,93,85,1.26
...,...,...,...,...,...,...,...,...,...,...
553,wellington,NZ,2179537,-41.29,174.78,7.69,9.00,66,100,4.10
554,maldonado,UY,3441890,-34.67,-54.92,10.00,10.00,61,0,1.50
555,izhma,RU,554830,65.01,53.91,14.66,14.66,68,85,3.48
556,bulawayo,ZW,894701,-20.15,28.58,12.10,12.10,61,28,7.49
557,ginda,IN,1253628,30.69,78.49,19.45,19.45,83,6,0.72

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# use the lat and lon as locations, and humidity as the weight.
locations = final_weather_df[["lat", "lon"]].astype(float)
humidity = final_weather_df["humidity"].astype(float)

In [7]:
# create a humidity heatmap
humidity_heatmap  = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

humidity_heatmap.add_layer(heat_layer)

humidity_heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [43]:
# create weather_criteria_df
weather_criteria_df = pd.DataFrame(final_weather_df, columns = ["city", "temp_max", "wind_speed", "cloudiness"])

In [52]:
# set weather_criteria_df to narrow down the cities to fit weather conditions.
weather_criteria_df[(weather_criteria_df.cloudiness == 0) 
& (weather_criteria_df.wind_speed < 10) & (weather_criteria_df.temp_max < 80)] 

weather_criteria_df

             city  temp_max  wind_speed  cloudiness
0            lebu     12.64        0.23          54
1            teya     10.76        2.38          81
2          castro     15.35        2.12          11
3    richards bay     21.00        4.60           1
4            amla     23.51        1.26          85
..            ...       ...         ...         ...
553    wellington      9.00        4.10         100
554     maldonado     10.00        1.50           0
555         izhma     14.66        3.48          85
556      bulawayo     12.10        7.49          28
557         ginda     19.45        0.72           6

[558 rows x 4 columns]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# Store into variable named hotel_df.
hotel_df = pd.DataFrame(city_weather_data, columns=["city", "country", "lat", "lon"])

In [11]:
# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

In [12]:
# Set parameters to search for hotels with 5000 meters.

params_coordinates = f"{hotel_df['lat'][0]},{hotel_df['lon'][0]}"
params_search = "hotel"
params_radius = 5000
params_type = "hotel"

params = {
    "location": params_coordinates, "keyword": params_search, "radius": params_radius, 
    "type": params_type, "key": g_key
}

# base url
maps_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(maps_url, params=params)

In [13]:
hotel_address = response.json()
hotel_address

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -37.61034009999999, 'lng': -73.6568911},
    'viewport': {'northeast': {'lat': -37.60899027010727,
      'lng': -73.65554127010726},
     'southwest': {'lat': -37.61168992989272, 'lng': -73.65824092989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '51aff33ef8f83c5ce5c13ca310b4da5849b1516f',
   'name': 'Hostal Plaza Lebu',
   'photos': [{'height': 2585,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113412507608741287957">A Google User</a>'],
     'photo_reference': 'CmRaAAAAuhwx6BqEuPIbmmWNyjwJ9a1bkM2ujd-ooXTxNsyA5gRS680CuTIIFl657bpc2_OKDx0jLE_50tn9R_Vjkwjs6ufPnWqrFXqN4fHNJoiQwAmylTXrrFKtZzL-h4bmykSPEhDNlqvJuFiNIEa48hmaY-4LGhTVhkuMNJfMZD9WUI-42VvTeUdTlA',
     'width': 2578}],
   'place_id': 'ChIJI1_UKFTxQZYRqHtqR9NxaMk',
   'plus_code': {'compound_code': '98QV+V6 Villa Los Héroes, Lebu, Chile',
    'global_code': '47J898QV+V6'},
   'rating': 0,
   'reference': 'ChIJI1_UKFTxQZYRqHtqR9NxaMk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 0,
   'vicinity': 'Pérez 672, Lebu'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -37.6108295, 'lng': -73.6556162},
    'viewport': {'northeast': {'lat': -37.60946847010727,
      'lng': -73.65429887010727},
     'southwest': {'lat': -37.61216812989272, 'lng': -73.6569985298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '2b6e26aac116dd0ffd9c136205a6c25b95adb686',
   'name': 'Hotel Plaza Lebu',
   'photos': [{'height': 720,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106139795629428901837">A Google User</a>'],
     'photo_reference': 'CmRaAAAA93xOVUxasQk7d5GqrgbLA57lYE0TaUsZq4Lahl6wX8yY2DfQJywUXlLxgY5CkRVuKc9CB2C7kgbxMpopPQ3JWWlnXysOxZl77Sf3KvQR7WnXjiuKvm4uGokCJL5UhW2MEhC2yj2wXP6asl8vS01T2YPPGhRd88zl72YX4tjGAk58MuoqJMMHSA',
     'width': 1280}],
   'place_id': 'ChIJ72bivJ_wQZYRJcTNc9vMOcE',
   'plus_code': {'compound_code': '98QV+MQ Lebu, Chile',
    'global_code': '47J898QV+MQ'},
   'rating': 4.4,
   'reference': 'ChIJ72bivJ_wQZYRJcTNc9vMOcE',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 84,
   'vicinity': 'Calle Saavedra 669 Lebu, Biobío'}],
 'status': 'OK'}

In [14]:
hotel_df.iloc[0][0]

'lebu'

In [15]:
# creates a list to capture hotel_names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from class example
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lon = row["lon"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lon}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(maps_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    try:
        hotel_name.append(name_address['results'][0]['name'])
        
    except IndexError:
        hotel_name.append(np.nan)

In [16]:
hotel_name

['Hostal Plaza Lebu',
 nan,
 'Central Palace Hotel - Castro (PR)',
 'Americas Best Value Inn & Suites - Detroit Lakes MN',
 nan,
 'Casa dos Lagos - AL',
 'Hotel South Coast',
 nan,
 nan,
 'Hotel Grand Chancellor Hobart',
 'Flat Hotel La Benediction',
 'Приватний гуртожиток',
 'Pebbles Inn',
 'Melnicani breathtaking view - Bed & Breakfast',
 'Hotel Paulinho',
 nan,
 'Hotel Origenes',
 'Noxapaga Suites',
 'Hilton Garden Inn Kauai Wailua Bay',
 'Harbour House Hotel',
 'Les Embruns Du Baril',
 'Sømandshjemmet',
 'Gostinitsa Zverevo',
 'Albergo Rita',
 'Royal Amazonia',
 'Four Seasons Hotel Alexandria at San Stefano, Egypt',
 'Green Lodge Holiday Homes',
 'Hotel Monasterio de San Miguel',
 nan,
 'The Gascoyne Hotel',
 'Restaurant Hôtel la Grande Fontaine',
 'Hôtel Hiva Oa Hanakee Lodge',
 'Alchie Guest Hauz',
 "Ellie's Villa",
 'Hotel Gold',
 'Wub Miraf Hotel',
 'InterContinental Bora Bora Resort Thalasso Spa',
 'Grand Naniloa Hotel Hilo - a DoubleTree by Hilton',
 "Land's End Boutique Hotel",
 nan,
 'Gostinitsa Olimpiyskaya',
 'IMI Stølen',
 nan,
 'The Explorer Hotel',
 nan,
 'Red Roof Inn Clyde',
 "Pension Maro'i",
 "Mary-Ann's Polarrigg",
 'Kenai Airport Hotel',
 'Los Cauquenes Resort & Spa',
 'Hotel Molino Viejo',
 'Gvok "Kosmos"',
 'Longitude 131',
 nan,
 'Hotelli Joki',
 'Top of the World Hotel',
 'hosteria luzcelinda',
 'Kodiak Compass Suites',
 'Vila Ybytu Eco Resort',
 nan,
 'Lofoten Værøy Brygge',
 'Lakeview Hotel Motel',
 'Campsite Orlan',
 nan,
 'Basidun Hotel',
 'HOTEL BOUTIQUE PALACIO ICO',
 'Résidence Orelle 3 Vallées',
 'The Current Iowa, Autograph Collection',
 'Hilton Zhoushan',
 'Arktika',
 nan,
 'Freddies Santai Sumurtiga',
 'Hotel Barun Sankhuwasabha',
 'Hotel Intercity Suape Costa Dourada',
 'سه طبقه خیرخواه',
 'Arktur',
 'Hotel Costa Esmeralda Suites',
 'Fairfield Inn & Suites by Marriott Sacramento Elk Grove',
 nan,
 'Bonifacio Lodge',
 'Last Light Lodge',
 'Villavela Hotel Boutique',
 nan,
 nan,
 'Holiday Inn Express & Suites Okmulgee',
 'Clarion Cedar Court Huddersfield Hotel',
 'Gostevoy Dom"Altay"',
 'Opuwo Country Lodge',
 nan,
 'Hilton San Francisco Airport Bayfront',
 'Hongda Longmen Hotel',
 'Abbey Beach Resort',
 'DoubleTree by Hilton Perth Northbridge',
 'Меҳмонхона СУҒД',
 nan,
 'Igdlo Guesthouse',
 'LÜDERITZ NEST HOTEL',
 'Hotel Klaksvík',
 'Gostinitsa Uyut',
 'Hotel Polo Orchid',
 'Meili Shanshui Hotel',
 'Hotel Santoro',
 'Hotel Arctic',
 'Here paradise hotel',
 'Best Western Thompson Hotel & Suites',
 nan,
 'Hospedaje Las Terrazas',
 'Gostinitsa "Shchara"',
 'Hotel Kap Farvel',
 nan,
 nan,
 'Manuia Beach Resort',
 'Severnoye Zoloto',
 nan,
 nan,
 'Gostinitsa "Zapolyar\'ye"',
 nan,
 nan,
 'Distinction Dunedin Hotel',
 'Quality Hotel Florø',
 'Hotel Rama Grand',
 'The Espiritu Hotel',
 'Hengifoss Guesthouse',
 "Hunter's B&B",
 'Jalu Hotel',
 nan,
 'Bethanie Guesthouse',
 nan,
 nan,
 'THE REDWOOD RIVERWALK HOTEL',
 'Auberge et Camping Inimi',
 'Holiday Inn Express & Suites Terrace',
 'Hotel Akshat Residency',
 nan,
 'Rossi Hotel',
 'Café de Upernavik',
 nan,
 'Pearle Beach Resort & Spa',
 'Les Roches Resort',
 nan,
 nan,
 nan,
 'Chautauqua Harbor Hotel',
 'Hotel Sea Fans',
 'Holiday Inn Express & Suites Norman',
 'Comfort Inn & Suites',
 nan,
 'Botany Bay Hotel',
 nan,
 'Hotel Trocadero',
 nan,
 'Tourist House - Sablino',
 'Saskylakh Aeroport',
 '28 on Hoop',
 'Hotel Durval',
 nan,
 'The Landing Hotel',
 'Hotel National',
 nan,
 'Ocean Centre Hotel',
 'Manbej City Hotel',
 nan,
 'Hotel Mehmon Saroy',
 '鵜原館',
 '特安呐会所',
 'DoubleTree by Hilton Hotel Portland',
 'Hotel Kandamba',
 nan,
 nan,
 'Hotel Renovo',
 'Hampton Inn Eden',
 'Craig Hotel',
 'Hotel Restaurant Ter Linde',
 'Milk Factory',
 'Adisurya Hotel',
 'Laleh Hotel',
 nan,
 'Hotel Tatyane',
 nan,
 'Xingu Praia Hotel',
 'Hotel Bossan',
 'Hotel Casa Do Capitão',
 'Centre Amadou Seck - Linguere',
 'Hotel Bagoeira',
 'Protea Hotel by Marriott Saldanha Bay',
 'Château De Montcaud',
 'The Peacock Beach Hotel Hambantota',
 'Vardø Hotel AS',
 'Frobisher Inn',
 'Hotel Royal Tocopilla',
 'Hyatt Centric Victoria Harbour Hong Kong',
 'Nino village',
 'Hotel Coral Beach',
 nan,
 'Mercure Hotel Rockhampton',
 'The Lodge Hotel',
 nan,
 'Hotel Monasterio de San Miguel',
 'Pond Country Club',
 nan,
 'Turis Firper Hotel',
 nan,
 'Hotel & SPA Majewski',
 nan,
 'Mdic',
 'Shumba Lodge',
 'Aeria Tono',
 'Hotel Santoro',
 'Wyndham Costa del Sol Trujillo',
 nan,
 'Hotel Mirador',
 nan,
 'Hotel La Muradana',
 'Nusa Island Retreat',
 'Hotel La Maison Arabe',
 'Gostinitsa Mila',
 'Hotel new yash dharchula',
 'palace hotel',
 'Olderelv Camping',
 'HOTEL VALENCIA',
 nan,
 nan,
 nan,
 'PiscoMar Peru',
 'Hotel "obshatsya"',
 'Clarion Cedar Court Huddersfield Hotel',
 'Coral Hotel Aden',
 'Clarion Cedar Court Huddersfield Hotel',
 nan,
 nan,
 nan,
 nan,
 'Karem Bay',
 'Sundog Inn',
 'Hostal Mi Refugio',
 'Allure on Ocean Motel',
 'Hilton Columbus Downtown',
 'Holiday Inn Express & Suites Salinas',
 nan,
 'Gostinitsa Orpk "Nauryz"',
 'Plum Garden International Hotel',
 'Hotel Nattoralik',
 'Hotel Miramar',
 'Seeadler Bay Hotel',
 nan,
 'Magnolias Cottage',
 'Desert Gat',
 'Raoum Inn Hotel',
 nan,
 'Palm Beach Hotel',
 'Polyarnaya Zvezda',
 nan,
 'Holiday Inn Saint Louis West at Six Flags',
 'Bismillah Hotel And Lodging',
 nan,
 nan,
 'Hotel sperlous',
 'Four Seasons Hotel Shenzhen',
 nan,
 'Qaanaaq Hotel',
 'Eastern & Oriental Hotel, Penang',
 nan,
 'Aspen Suites Hotel Haines',
 'U Maksimycha',
 'Gostinitsa',
 'Hotel Monasterio de San Miguel',
 'The Red House',
 "Marriott's Ko Olina Beach Club",
 'Fosshotel Húsavík',
 'Hyatt Regency Riyadh Olaya',
 'Graciosa Resort - Biosphere Island Hotel',
 'Zhemchug',
 nan,
 nan,
 'Codrington Gardens Bed And Breakfast',
 'Ada Hotel',
 'Prozhivaniye V Okhotske',
 'Hotel Palace',
 nan,
 'Abha Palace Hotel',
 'The Adventures Inn-Peleliu',
 '別邸 海と森',
 'Taikyōrō',
 'Casa Ládico Boutique Hotel',
 'Hotel Cabildo',
 'Grand Hotel Sampit',
 'Pacific Harbour Lodge',
 'Hotel Monasterio de San Miguel',
 nan,
 'Stensson',
 'Grand Hotel',
 nan,
 nan,
 'Guest House Sosnovaya Alleya',
 'Gostinitsa',
 nan,
 'Villa Hélèna B&B',
 nan,
 'Hotel Santoro',
 'Patagonia House',
 'Ponta Anchaca',
 'KUST Hotell & Spa',
 'Ungoofaaru Inn',
 'Sumak Wasi Hotel',
 'Hotel Coimbra',
 'Hotel Castrum Villae',
 'Emerald Star Hotel',
 'Wanda Realm Jining',
 'Hotel Punta León',
 'Hotel Monasterio de San Miguel',
 'LE CHISSIOUA',
 "Tatiana's Hotel",
 'Embassy Suites by Hilton Lompoc Central Coast',
 'Hotel Castrum Villae',
 'The Jetty Resort',
 'DoubleTree By Hilton Pointe-Noire',
 'Resid Hotel',
 'Hilton Garden Inn Norwalk',
 'Hotel "Nord House"',
 'Hotel Santoro',
 'Serkan Hotel',
 'Courtyard by Marriott Danbury',
 'Best Western New Smyrna Beach Hotel & Suites',
 'The Retreat at Blue Lagoon Iceland',
 'Hampton Inn Ukiah',
 'Coburn Hotel',
 'Гостевой Дом на Заречной',
 'Hotéis Caçulinha',
 'Porto Suites Natal Hotel',
 'Days Inn by Wyndham Hotel Dillon SC',
 'The Sails Nelson',
 'Hotel ibis Styles Iu Namibe',
 'Sumeya Hotel',
 nan,
 'Shrestha Hotel',
 'Hotéis Caçulinha',
 'Hotel Kargasok',
 'Xi Le Hui Hotel',
 'Sandaun Surf Hotel',
 'Country Inn Benson',
 'DoubleTree by Hilton Hotel Naha Shuri Castle',
 'Namatanai Hotel',
 'Slavyanskiy Dvor',
 'Holiday Inn Express & Suites Hermiston Downtown',
 'Hotel Mansión',
 nan,
 'Hotel Palmeiras',
 'Modern Hotel',
 'BULDANA URBAN RESIDENCY CLUB',
 'Mar Doce de Abrolhos',
 'Hotel Santoro',
 'PORTO RIO HOTEL & CASINO',
 'Hotel Maniitsoq',
 'Mercure Bengkulu',
 'Best Western Plus Pioneer Park Inn',
 'Hotel Nemuro Kaiyoutei',
 'Hotel New Amami',
 'BULDANA URBAN RESIDENCY CLUB',
 nan,
 'Russelltown Inn',
 'Hotel Santoro',
 nan,
 'Gostinitsa',
 'Ocean Casino Resort',
 'Gostinitsa Privilegiya',
 'OYO 62750 Shubhkirti Lawns And Resort',
 'ZIRO PUTU HOMESTAY',
 nan,
 'MAYFAIR Heritage, Puri',
 'Ramada Hotel & Suites by Wyndham Ballina Byron',
 'Malekula Holiday Villas',
 'Jackaroo Motel',
 'Hotel Vestmannaeyjar',
 'Profilaktoriy Baes',
 'Novotel Архангельск',
 '7 Tiankuaijie Hotel',
 'Hotel King Star',
 'Dom Otdykha "Pastoral\'"',
 'Hotel Residenz',
 'Hotel Ñikén Spa & Business Center',
 'AI World Resort',
 nan,
 'Hostal Casa Damasco',
 nan,
 nan,
 'Shahin Tower Hotel',
 'Leshukonskaya, Gostinitsa',
 'The Lakefront Anchorage',
 'Yama Resort Tondano',
 'Comfort Inn & Suites Texas City',
 'Hotel Garuda Bontang',
 nan,
 'Binogawan Beach Resort',
 'Madani Hotel',
 'Royal Grand Hotel and Spa - All Inclusive',
 'Приватний гуртожиток',
 'LE SAMANA',
 'Mansion House Scarborough',
 'Shimoda View Hotel',
 'B Montmartre Hôtel',
 nan,
 'Gavelstad Gjestegård',
 'Hotel California',
 'Uyut',
 'Amiin Hotel',
 'Osmani Hotel',
 'Axim Beach Hotel',
 'Mövenpick Hotel Qassim',
 nan,
 nan,
 'Энергетик',
 nan,
 'Grande Rockies Resort - Bellstar Hotels & Resorts',
 'MUARA HOTEL and MALL TERNATE',
 nan,
 'Queens Beach Hotel',
 '高雄國賓大飯店 Ambassador Hotel Kaohsiung',
 nan,
 'TRYP by Wyndham Cuenca Zahir',
 'Aspen Suites Hotel Sitka',
 'Hotel Prabhu Residency',
 'Aleksandrovskiy',
 'Gostinitsa "Gloriya"',
 nan,
 nan,
 'Mahavira Hotel',
 'Shanti Maurice Resort & Spa',
 'Shangri-La Hotel, Ulaanbaatar',
 'Hotel Rainha do Vale',
 'Karelia Hotel',
 'Centrum',
 'Sekuro Village Beach Resort',
 'Le Rocher de Tahiti',
 'Hotel Tayu Asri',
 'Jiugang Hotel - Jiayuguan',
 'PORTO RIO HOTEL & CASINO',
 "Gostinyy Dvor Estel' Miniotel' V Severo-Yeniseyske",
 nan,
 'Courtyard by Marriott Waterloo St. Jacobs',
 nan,
 nan,
 'Royal Plaza',
 'Hotel Río Nazas',
 'The Dutch House',
 'Canalta Hanna',
 'Best Western Plus Williston Hotel & Suites',
 'Hotel Avenida',
 nan,
 'Killam Krossing Hotel',
 'OURE TERA beach resort',
 'SpringHill Suites by Marriott Atlanta Downtown',
 'Hotel Haji Aden Yare',
 'Hotel Monasterio de San Miguel',
 nan,
 'Hotel Villa Kitzia Huacho',
 'RedDoorz near Stadion Prasamya Majene',
 'Holiday Inn Express & Suites Grants - Milan',
 'Pousada Casa de Maria',
 'Logis Auberge Normande',
 'Hotel Ychoalay Caz',
 'Queen Anne Bed and Breakfast',
 'Taloa Heights',
 nan,
 'Bandara International Hotel By Accor Hotels',
 'Bed & Breakfast Sweet Dreams',
 'Трактир НИКА',
 'سوییت نادری',
 'Salalah Gardens Hotel',
 nan,
 'Sofitel Xining',
 'Hotel O2 inn',
 'Kak Doma',
 nan,
 'Holiday Inn Express & Suites Alice',
 'Sora Lodge Lalibela',
 nan,
 'Apera Beach Front Bungalows',
 'Clandestino Beach Resort',
 'Macdonald Houstoun House',
 'Hilton Garden Inn Neuquen',
 nan,
 'Refugio Spa',
 nan,
 "Paddy D'sawah Guest house",
 'Trinity Wharf Tauranga',
 'Casa dos Lagos - AL',
 'Hotel Santoro',
 'Eurostars Hotel Real',
 'Busta House Hotel',
 'Best Western Plus Mydas Hotel',
 'Super secret pirate cove',
 'Hotel Alesya JSC Belaruskali',
 'Chidikumbidi Lodge',
 'Curubo Hotel',
 'Royal Hotel',
 'A1Hotel',
 'Hotel Riu Atoll',
 'Chukotka hotel',
 'Hotel Santa Mônica',
 nan,
 'Beira Terrace Hotel',
 'Hotel Devon',
 'Penha Longa Resort',
 nan,
 "Otel' Gzhatsk",
 'K-POP HOTEL Seoul Tower',
 nan,
 nan,
 'Château Arnaud',
 nan,
 nan,
 nan,
 'Apartment on Zhukovskogo 19',
 'Napakuang Resort',
 'Park Hotel Porto Valongo',
 'ECO Lifestyle & Lodge',
 'Burnett Riverside Hotel',
 'ASTON Kupang Hotel & Convention Center',
 'Hotel Monasterio de San Miguel',
 nan,
 'Manoir du Stang',
 nan,
 "Maia's Beach Resort",
 'فندق جراند بالاس Grand Palace Hotel',
 nan,
 'Barrudada Tropical Hotel',
 'Hotel Arroyo La Mina',
 'DoubleTree by Hilton Iquitos',
 nan,
 'Fairfield Inn & Suites by Marriott Olean',
 nan,
 'Tranquil Beach Resort',
 'The Freezer Hostel & Culture Centre',
 'Gostinitsa',
 'Ramada by Wyndham Bismarck',
 'The Westin Resort & Spa, Puerto Vallarta',
 'Hotel "Alieika"',
 nan,
 'Universal Gab Hotel',
 'Courtyard by Marriott Maui Kahului Airport',
 nan,
 nan,
 nan,
 'RedDoorz @ Jalan Cilik Riwut Kapuas',
 'Hotel O2 inn',
 nan,
 nan,
 'Holiday Inn Express Hutchinson',
 'Hotel Hello',
 nan,
 nan,
 'Orient Star Dahabyia Isna 05 Nights Each Sunday',
 'Altyn Saray',
 'Wellesley Boutique Hotel',
 nan,
 nan,
 'Banff Lodge Hotel',
 'Hotel KNB Heritage']

In [17]:
# drop n/a values
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()

,city,country,lat,lon,Hotel Name
0,lebu,CL,-37.62,-73.65,Hostal Plaza Lebu
2,castro,BR,-24.79,-50.01,Central Palace Hotel - Castro (PR)
3,richards bay,US,46.84,-95.91,Americas Best Value Inn & Suites - Detroit Lak...
5,ponta do sol,PT,38.73,-28.27,Casa dos Lagos - AL
6,selfoss,IS,63.93,-21.00,Hotel South Coast
...,...,...,...,...,...
551,esna,EG,25.29,32.55,Orient Star Dahabyia Isna 05 Nights Each Sunday
552,lugovoy,KZ,42.95,72.76,Altyn Saray
553,wellington,NZ,-41.29,174.78,Wellesley Boutique Hotel
556,bulawayo,ZW,-20.15,28.58,Banff Lodge Hotel
557,ginda,IN,30.69,78.49,Hotel KNB Heritage